$currentDate

$agentFirstName $agentLastName
$agentAddressLines
$agentCityStateZip 

RE:	Application #:			$policyNumber
	Annuitant/Insured:		$annuitantFirstName $annuitantLastName 
	Date of Application:	$appSubmitDate


Dear $agentFirstName $agentLastName,

The annuity application submitted on behalf of the above referenced applicant has been withdrawn because the administrative requirements needed to issue the contract have not been received.  
A letter has been sent to the applicant advising that this application has been withdrawn and we have refunded any premium submitted with the application.
Should you have any questions you can find more information on Saleslink or contact Fidelity & Guaranty Life at 1-800-445-6758. 

Sincerely,

Annuity New Business Department


Cc:  $agentFirstName $agentLastName
