<style>
h2 { color:#0e3166 }
.returnLink {
	color: #0e3166;
}
.breadcrumb a{
	color:#0e3166;
}

.complete {
	padding: 10px;
	padding-left: 30px;
	margin-bottom: 1em;
	border: 2px solid #ddd;
	background: #B0CCF5;
	color: #2E476B;
	border-color: #2E476B;
	width: 800px;
	text-align: center;
}
</style>
